:root {

    --font-light: #000000;
    --bg-light: #ffffff;
    --slider-background-light: #ccc;
    --slider-circle-light: #fff;


    --font-dark: #ffffff;
    --bg-dark: #000000;
    --slider-background-dark: #ffffff;
    --slider-circle-dark: #000000;
}

[data-dark="true"] {
    color-scheme: dark;
}

[data-dark="false"] {
    color-scheme: light;
}


html {
    color: light-dark(var(--font-light), var(--font-dark));
    background: light-dark(var(--bg-light), var(--bg-dark));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    font-style: italic;
    color: grey;
    border-radius: 0.5rem;
}

@font-face {
    font-family: 'Mulish';
    src: url(/fonts/Mulish-VariableFont_wght.ttf)
}

@font-face {
    font-family: 'Merriweather-Black';
    src: url(/fonts/Merriweather-Black.ttf);
}

