
main {
    margin-inline: 2rem;
    height: 812px;
    overflow: scroll;
}

.seemore__btn {
border-radius: 1rem;
border: 1.5px solid var(--primary-grey);
padding: 0.25rem 0.5rem;
background: none;
color: var(--primary-grey);
}




