
header {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6rem;
    margin-block: 5rem 2rem;
}

header .switch {
    margin-inline-end: 2rem;
    z-index: 1;
}

.movielist__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__details {
    display: flex;
    justify-content: space-between;
    margin-inline: 2rem 0;
}

.return__btn, .return__btn-more {
    border: none;
    background: none;
    margin-inline: 2rem auto;
    z-index: 1;
}

.back__img-grey {
    width: 2rem;
}