
header {
    display: flex;
    justify-content: right;
    gap: 6rem;
    margin-block: 3rem  2rem;
    background-color: blue;
}

header .switch {
    margin-inline-end: 2rem;
}

.movielist__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__details {
    display: flex;
    justify-content: space-between;
    margin-inline: 2rem 0;
}

.return__btn {
    border: none;
    background: none;
    margin-inline: 5rem auto;
}