
.movielist__top {
    margin-block-end: 1.5rem;
}

.movielist {
    overflow: auto;
    white-space: nowrap;
    width: 100%; 
    margin-block-end: 2rem;
}

.movielist__item {
    display: inline-block;
    width: 10rem;
    margin-right: 1.5rem; 
}

.movielist div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.movielist p {
    color: var(--primary-grey);
}

.star__img {
    width: 1rem;
}