
.showmore__now, .showmore__popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    margin-inline: 2rem;
    height: 50rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.showmore__now-item, .showmore__popular-item {
    display: flex;
    flex-direction: column;
    margin-block-end: 0.5rem;
}

.showmore__now ul, .showmore__popular ul {
    list-style: none;
}

.headline__now {
    text-align: center;
    font-size: 1.1rem;
}

.headline__popular {
    font-size: 1.5rem;
}

.showmore__now h3, .showmore__popular h3 {
    font-family: "Mulish-Bold";
    font-size: 1.025rem;
} 

.showmore__now img, .showmore__popular img {
    width: 100%;
    height: 10rem;
    object-fit: cover;    
}